<blockquote
 {...Astro.props}
 class="tiktok-embed"
 cite="https://www.tiktok.com/@julian.tibana/video/7140814164473253126"
 data-video-id="7140814164473253126"
 style="max-width: 605px;min-width: 325px;"
>
 <section>
  <a
   target="_blank"
   title="@julian.tibana"
   href="https://www.tiktok.com/@julian.tibana?refer=embed">@julian.tibana</a
  > Postres de crepes y waffles que son todo lo que está bien <a
   title="food"
   target="_blank"
   href="https://www.tiktok.com/tag/food?refer=embed">#food</a
  >
  <a
   title="viral"
   target="_blank"
   href="https://www.tiktok.com/tag/viral?refer=embed">#viral</a
  >
  <a
   title="fyp"
   target="_blank"
   href="https://www.tiktok.com/tag/fyp?refer=embed">#fyp</a
  >
  <a
   title="comida"
   target="_blank"
   href="https://www.tiktok.com/tag/comida?refer=embed">#comida</a
  >
  <a
   title="postres"
   target="_blank"
   href="https://www.tiktok.com/tag/postres?refer=embed">#postres</a
  >
  <a
   title="sweet"
   target="_blank"
   href="https://www.tiktok.com/tag/sweet?refer=embed">#sweet</a
  >
  <a
   title="ricopa"
   target="_blank"
   href="https://www.tiktok.com/tag/ricopa?refer=embed">#ricopa</a
  >
  <a
   target="_blank"
   title="♬ original sound - Julián Tibana"
   href="https://www.tiktok.com/music/original-sound-7140814188746656517?refer=embed"
   >♬ original sound - Julián Tibana</a
  >
 </section>
</blockquote>
<script async src="https://www.tiktok.com/embed.js"></script>
