<div {...Astro.props} class="grid container loader bg-gray-100">
 <div class="loading"></div>
</div>

<style>
 .loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  place-items: center;
  z-index: 1000;
 }

 .loading {
  border: 2px solid var(--accent);
  position: relative;
  padding: 5px 100px;
  border-radius: 10px;
  overflow: hidden;
 }

 .loading:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: var(--accent);
  height: 100%;
  width: 100%;
  animation: slideIn 750ms cubic-bezier(0.17, 0.67, 0.18, 0.93);
 }

 @keyframes slideIn {
  0% {
   transform: translateX(-200px);
  }

  95% {
   transform: translateX(0);
  }
 }
</style>
