<a
 {...Astro.props}
 target="_blank"
 rel="noopener noreferrer"
 role="link"
 class="inline-flex items-center justify-center gap-2 px-4 py-1 transition bg-[var(--accent)] border-2 border-[#D00202] rounded-full text-white focus-visible:ring-[#D00202]/80 text-md hover:bg-[#FE1C1C] group max-w-fit hover:text-gray-100 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2"
>
 <slot />
</a>
